torch==2.5.1
transformers==4.56.0
trl==0.16.1
vllm==0.8.3
accelerate==1.6.0
datasets==3.7.0
wandb==0.19.10
sympy==1.13.3
math-verify==0.5.2
peft==0.15.1
bitsandbytes==0.45.4
numpy==2.2.4
pandas==2.2.4
pytest==8.3.5
hf-transfer==0.1.9
tqdm==4.67.1
pyyaml>=6.0
